body{
    background-color: #111823;
    color: #FF4655;
    text-align: center;
    font-size: 30px;
}
table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
   
}
li{
    list-style-position: inside;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 40px;
    width: 40px;
}
#Fullomen{
    height: 1000px;
    width: auto;
}
h1{
    font-size: 55px;
}
h2{
    font-size: 39px;
}
h3{
    font-size: 30px;
}

em{
    font-size: 80px;
}
caption{
    font-size: 40px;
    padding-bottom: 10px;
}
td, th{
    border-right: none;
    border-bottom: 1px solid red;
    border-top: 1px solid red;
    padding: 2px 12px;
    
}
td{
    background-color: #BA3A46;
    color: #ffffff;
}
th{
    border-right: 1px solid red;
    border-left: 1px solid red;
    background-color: #f7f5f5;
}
b{
    color: greenyellow;
}
thead th{
    text-shadow: 2px 1px rgb(0, 0, 0, 0.4);
}

ol{
    background-color: #4b3030;
    border-radius: 100px;
}
#platina{
    height: 200px;
    width: 200px;
}
a{
    color: #ffffff;
}
a:hover{
    color: #c0bdbd;
}
